.single-container-sai
  .header-logo-sai
    %h1.header-logo-sai__link
      = link_to root_path do
        = image_tag 'mercari-logo.png', size: '155x50'
    .single-main-sai

      .l-single-container-sai2#register1-height
        .single-main
        
          %h2.registration-sai
            新規会員登録
          .registration-form-sai
            .registration-form-sai__max
              .registration-form-sai__max__mail
                = link_to root_path, class: "btn-default" do
                  = fa_icon 'envelope', width: "20", height: "20", class: "googlesai-icon"
                  メールアドレスで登録する。


            .login-no-account-sai#facebook-form
              = link_to root_path, class: "facebookrelative" do
                = fa_icon 'facebook', class: "facebook-icon"
                %span
                  Facebookでログイン
            .login-no-account-sai#googlesai-form
              = link_to root_path, class: "googlerelative" do
                = image_tag 'googlelogo.png', width:"20", height: "20",class: "googlesai-icon"
                  googleでログイン
      = render 'products/footer'