.single-footer-sai
  %ul.clear-fix.single-footer-sai__nokori
    %li.cleap-fix.single-footer-sai__nokori__p
      = link_to root_path do
        プライバシーポリシー
    %li.cleap-fix.single-footer-sai__nokori__p
      = link_to root_path do
        メルカリ利用規約
    %li.cleap-fix.single-footer-sai__nokori__p
      = link_to root_path do
        特定商取引に関する表記
  = link_to root_path do
    = link_to root_path do
      = image_tag 'mercari-logo-footer.png', size: '120x130'