.single-container-sai
  .header-logo-sai
    %h1.header-logo-sai__link
      = link_to root_path do
        = image_tag 'mercari-logo.png', size: '155x50'
 
  .single-main
    .login-panel
      .login-sai
        %p アカウントをお持ちでない方はこちら
        .login-no-account-sai#login-width
          = link_to root_path do
            新規会員登録
      .login-form-inner2-sai
        .login-no-account-sai#facebook-form
          = link_to root_path, class: "facebookrelative text-center" do
            = fa_icon 'facebook', class: "facebook-icon"
            %span Facebookでログイン
        .login-no-account-sai#googlesai-form
          = link_to root_path, class: "googlerelative text-center" do
            = image_tag 'googlelogo.png', width:"20", height: "20",class: "googlesai-icon"
            %span googleでログイン


      .login-form-inner-sai
        .login-form-inner-sai__form
          %input{name: "email", placeholder: "メールアドレス", type: "email", value: ""}/ 
        .login-form-inner-sai__form#login-form-inner-sai__form
          %input{name: "password", placeholder: "パスワード", type: "password"}/
        .g-recaptcha{"data-callback" => "clearcall", "data-sitekey" => "6LdtOsAUAAAAAB48_GUOATmS_P4Dl0ejnacH1x4L"}
      .login-sai
        .login-no-account-sai#loginred-sai
          = link_to root_path do
            ログイン
        .login-sai__passwordlast
          = link_to root_path do
            パスワードをお忘れの方
              
  = render 'products/footer'