.single-container-sai
  .header-logo-sai
    %h1.header-logo-sai__link
      = link_to root_path do
        = image_tag 'mercari-logo.png', size: '155x50'

    %nav.progress
      %ul.progress-bar
        %li.through#through
          会員情報
          .progress-status
          .progress-status_bar
        %li.active#active
          電話番号認証
          .progress-status
          .progress-status_bar
        %li.address#address
          お届け先住所入力
          .progress-status
          .progress-status_bar
        %li.payment#payment
          支払い方法
          .progress-status
          .progress-status_bar
        %li.end#end
          完了
          .progress-status
          .progress-status_bar

    .single-main-sai

      .l-single-container-sai2#register3-height
        .single-main
          %h2.l-chapter-head.registration 電話番号確認
          = form_with model: @user, url: step3_signup_index_path, method: :get, local: true do |f|
      
            %input{type: "hidden"}
            .l-single-content
              .form-group
                = f.label :携帯電話の番号, class: "phone-number__left"
                -# %label.phone-number__left{for: "phone_number"} 携帯電話の番号

                = f.text_field :phone_number, class: "input-default" 
                -# %input.input-default{type: "tele"}
              %p 
                本人確認のため、携帯電話のSMS(ショートメッセージサービス)を利用して認証を行います。
              
              = f.submit class: "btn-default btn-red", value: "SMSを送信する。"
              -# %button.btn-default.btn-red{type: "submit"}
              -#   SMSを送信する。
              %P
                ※電話番号は本人確認や不正利用防止のために利用します。他のユーザーに公開されることはありません。
              .form-group.text-right
                = link_to "電話番号の確認が必要な理由", root_path
                = fa_icon "angle-right", class: 'angle-right-skyblue'

  = render 'signup/footer'