.single-container-sai
  .header-logo-sai
    %h1.header-logo-sai__link
      = link_to root_path do
        = image_tag 'mercari-logo.png', size: '155x50'

    -# = render 'signup-header'
    %nav.progress
      %ul.progress-bar
        %li.through#through#active
          会員情報
          .progress-status
          .progress-status_bar
        %li.active
          電話番号認証
          .progress-status
          .progress-status_bar
        %li.address#address
          お届け先住所入力
          .progress-status
          .progress-status_bar
        %li.payment#payment
          支払い方法
          .progress-status
          .progress-status_bar
        %li.end#end
          完了
          .progress-status
          .progress-status_bar

  .single-main-sai

    .l-single-container-sai2
      .single-main
        .h2.registration-sai  会員情報入力

        = form_with model: @user, url: step2_signup_index_path, method: :get, local: true do |f|
        
          %input{type: "hidden"}/
          .l-single-content
            .form-group
              = f.label "ニックネーム"
         
              %span.form-require
                必須
              = f.text_field :nickname, placeholder: '例) メルカリ太郎', class: "input-default has-error"
            
              =  render partial: 'error-messages', locals: {user: @user, column: "nickname"}

            .form-group
              = f.label "メールアドレス"
  
              %span.form-require
                必須
              = f.email_field :email, placeholder: 'PC・携帯どちらでも可', class: "input-default has-error"
              = render partial: 'error-messages', locals: {user: @user, column: "email"}

            .form-group
              = f.label "パスワード"

              %span.form-require
                必須
              = f.password_field :password, placeholder: '7文字以上', class: "input-default has-error"
              = render partial: 'error-messages', locals: {user: @user, column: "password"}

            .form-group
              = f.label "パスワード(確認)"

              %span.form-require
                必須
              = f.password_field :password_confirmation, placeholder: '7文字以上', class: "input-default has-error"
              = render partial: 'error-messages', locals: {user: @user, column: "password_confirmation"}


            .form-group
              %h3.form-group__text-let 本人確認
              %p 安心・安全にご利用いただくために、お客さまの本人情報の登録にご協力ください。他のお客さまに公開されることはありません。
            .form-group
              %div
                = f.label :お名前（全角）
       
                %span.form-require 必須
              .displayinline-sai
                = f.text_field :last_name, placeholder: '例) 山田', class: "input-default half has-error"
                
                = f.text_field :first_name, placeholder: '例) 彩', class: "input-default half has-error"
              .clearfix
                = render partial: 'error-messages', locals: {user: @user, column: "last_name"}
                = render partial: 'error-messages', locals: {user: @user, column: "first_name"}
                
            .form-group
              %div
                %label{for: "nickname"}  お名前カナ（全角）
                %span.form-require 必須
              .displayinline-sai
                = f.text_field :last_name_phonetic, placeholder: '例) ヤマダ', class: "input-default half has-error"

                = f.text_field :first_name_phonetic, placeholder: '例) アヤ', class: "input-default half has-error"
              .clearfix
                = render partial: 'error-messages', locals: {user: @user, column: "last_name_phonetic"}
                = render partial: 'error-messages', locals: {user: @user, column: "first_name_phonetic"}

            .form-group
              = f.label :birthday, "生年月日"

              %span.form-require 必須
              %br
              .birthday-select-wrap
                .select-wrap.icon-relative


                  = f.text_field :birth_year, class: "select-default2 has-error"
                  -# %select.select-default
                    -# %option ---
                %span 年
                .select-wrap.select-wrap__month.icon-relative
                  -# = fa_icon 'angle-down', class: "icon-relative__absolute"

                  = f.text_field :birth_month, class: "select-default2 has-error"
                  -# %select.select-default
                    -# %option ---
                %span 月
                .select-wrap.select-wrap__day.icon-relative

                  -# = fa_icon 'angle-down', class: "icon-relative__absolute"

                  = f.text_field :birth_day, class: "select-default2 has-error"

                  -# %select.select-default.icon-relative
                    -# %option ---
                %span 日
            
                = render partial: 'error-messages', locals: {user: @user, column: "birth_year"}
                = render partial: 'error-messages', locals: {user: @user, column: "birth_month"}
                = render partial: 'error-messages', locals: {user: @user, column: "birth_day"}
                %p.form-group__info-text ※ 本人情報は正しく入力してください。会員登録後、修正するにはお時間を頂く場合があります。


        
                .form-recapu
                  = recaptcha_tags
                  -# - if resource.errors.messages[:password].present?
                  -#   - resource.errors.messages[:password].each do |message|
                  -#     %p.error= message

                .form-group
                  .l-single-text.text-center
                    %P 
                      次へ進む」のボタンを押すことにより、

                      = link_to step1_signup_index_path do
                        利用規約
    
                      に同意したものとみなします
                
                = f.submit class: 'btn-default btn-red', value: "次へ進む"

              
                .form-group.text-right
                  %p 
                    = link_to "本人情報の登録について", step1_signup_index_path
                    = fa_icon 'angle-right', class: 'angle-right-skyblue'

  = render 'products/footer'