.single-container-sai
  .header-logo-sai
    %h1.header-logo-sai__link
      = link_to root_path do
        = image_tag 'mercari-logo.png', size: '155x50'

    %nav.progress
      %ul.progress-bar
        %li.through#through
          会員情報
          .progress-status
          .progress-status_bar
        %li.active#through
          電話番号認証
          .progress-status
          .progress-status_bar
        %li.address#address#through
          お届け先住所入力
          .progress-status
          .progress-status_bar
        %li.payment#payment#active
          支払い方法
          .progress-status
          .progress-status_bar
        %li.end#end
          完了
          .progress-status
          .progress-status_bar
    
    .single-main-sai
      .l-single-container-sai2
        .single-main-box
          .register-heading-take
            クレジットカード情報入力

        = form_with url: signup_index_path, method: :post,html: { name: "inputForm" }, local: true do |f|
          .register-content-box-take
            .l-single-content-take
              .form-group-card
                .form-group-card__heading.displayflex
                  = f.label :card_number, "カード番号", for: "card_number"
            
                  %span.form-require 必須

                = f.text_field :card_number, class: "payment_card_num input-default has-error", id: 'card_number', maxlength: "19", placeholder: "半角数字のみ", type: "text", value: "", "data-input-type" => "card"
                
                .card-icons-box.displayflex
                  %ul
                    = image_tag 'icon-visa.svg', size: '49x20'
                  %li  
                    = image_tag 'master-card.svg', size: '34x20'
                  %li  
                    = image_tag 'saison-card.svg', size: '30x20'                    
                  %li  
                    = image_tag 'jcb.svg', size: '32x20'
                  %li  
                    = image_tag 'american_express.svg', size: '21x20'   
                  %li  
                    = image_tag 'dinersclub.svg', size: '32x20'
                  %li  
                    = image_tag 'discover.svg', size: '32x20'
                -# = render partial: 'error-card', locals: {card: @card, column: "card_id"}   

              .form-group.signup-form-expire
                .form-group.signup-form-expire__heading.displayflex
                  = f.label "有効期限", for: "payment_card_expire"
                  
                  %span.form-require 必須      
                .card-expiration.displayflex    
                  .card-expiration-month-box
                    .select-card-month.half.displayflex.relative
                      = fa_icon 'angle-down', class: "credit-card-angle-down__absolute"
                      = f.select :exp_month, [["01",1],["02",2],["03",3],["04",4],["05",5],["06",6],["07",7],["08",8],["09",9],["10",10],["11",11],["12",12]],{} , class: 'select-default has-error'
                      
                      
                      -# %select#payment_card_expiration_mm.select-default
                      
                      %h3 月  
                      
                  .card-expiration-year-box
                    .select-card-year.half.displayflex.relative
                      = fa_icon 'angle-down', class: "credit-card-angle-down__absolute"
  
                      = f.select :exp_year, [["19",2019],["20",2020],["21",2021],["22",2022],["23",2023],["24",2024],["25",2025],["26",2026],["27",2027],["28",2028],["29",2029]],{} , class: 'select-default has-error'
                      -# %select#payment_card_expire_yy.select-default

                      %h3 年
                      -# = render partial: 'error-card', locals: {pay: @pay, column: "month"}
                      -# = render partial: 'error-card', locals: {pay: @pay, column: "year"}
                    
              .signup-form-security_code
                .signup-form-security_code__heading.displayflex
                  = f.label "セキュリティコード"
                  -# %label{for: "payment_card_security_code"} セキュリティコード
                  %span.form-require 必須
                .signup-form-security_code-box 
                  = f.text_field :cvc, class: "input-default has-error",placeholder: "カード背面4桁もしくは3桁の番号", value: ""
                  -# = render partial: 'error-card', locals: {pay: @pay, column: "security_code"}
                  -# %input#payment_card_security_code.input-default{placeholder: "カード背面4桁もしくは3桁の番号", value: ""}/
                .signup-seqcode-help
                  .signup-seqcode__text.displayflex
                    .signup-seqcode__text__icon
                      %i
                        = fa_icon 'question', class: "credit-card-question"
                    .signup-seqcode__text__help
                      %h5
                        カード裏面の番号とは？
         
              .card-info-submit
                .card-info-submit__btnm#card_token
                  = f.submit class: "btn-default btn-red", id: "token_submit", value: "次へ進む"
                  -# %button#submit-button.btn-default.btn-red{type: "button"} 次へ進む



    
    = render 'signup/footer'

:javascript
  document.addEventListener(
  "DOMContentLoaded", (e) => {
    Payjp.setPublicKey('pk_test_0ddb364bab7ed621b29956cb');
    const btn = document.getElementById('token_submit');
    btn.addEventListener("click", (e) => { 
      e.preventDefault(); 
      const card = {
        number: document.getElementById("card_number").value,
        cvc: document.getElementById("cvc").value,
        exp_month: document.getElementById("exp_month").value,
        exp_year: document.getElementById("exp_year").value
      }; 
      Payjp.createToken(card, (status, response) => {
        if (status === 200) {
          $("#card_number").removeAttr("name");
          $("#cvc").removeAttr("name");
          $("#exp_month").removeAttr("name");
          $("#exp_year").removeAttr("name"); 
          $("#card_token").append(
            $('<input type="hidden" name="payjp-token">').val(response.id)
          ); 
          document.inputForm.submit();
          alert("登録が完了しました"); 
        } else {
          alert("カード情報が正しくありません。。");
        }
      });
    });
  },false);
