.single-container-sai#step3-position
  .header-logo-sai
    %h1.header-logo-sai__link
      = link_to root_path do
        = image_tag 'mercari-logo.png', size: '155x50'

    %nav.progress
      %ul.progress-bar
        %li.through#through
          会員情報
          .progress-status
          .progress-status_bar
        %li.active#through
          電話番号認証
          .progress-status
          .progress-status_bar
        %li.address#address#active
          お届け先住所入力
          .progress-status
          .progress-status_bar
        %li.payment#payment
          支払い方法
          .progress-status
          .progress-status_bar
        %li.end#end
          完了
          .progress-status
          .progress-status_bar
    
    .single-main-sai
      .l-single-container-sai2
        .single-main-box
          .register-heading-take
            住所入力
        
        = form_with model: @address, url: step4_signup_index_path, method: :get, local: true do |f|
            
          .register-content-box-take
            .l-single-content-take
              .form-group-address
                .form-group-address__heading.displayflex
                
                  = f.label :お名前, for: "address_name"
                  -# %label{for: "address_name"} お名前
                  %span.form-require 必須
                .form-group-address__list
                  = f.text_field :last_name, class: "address_last_name address-form-box", maxlength: "35", placeholder: "例）山田", name: "last_name", type: "string", value: session[:last_name]
                  -# %input.address_last_name.address-form-box{maxlength: "35", placeholder: "例）山田", name: "last_name", type: "string", value: ""}/
                  = f.text_field :first_name, class: "address_first_name address-form-box",maxlength: "35", placeholder: "例）彩", name: "first_name", type: "string", value: session[:first_name]
                  -# %input.address_first_name.address-form-box{maxlength: "35", placeholder: "例）彩", name: "first_name", type: "string", value: ""}/

                .form-group-address__phonetic.address-heading-row

                  = f.label :last_name_phonetic, "お名前カナ"
                  -# %label{for: "address_name_phonetic"} お名前カナ

                  %span.form-require 必須
                .form-group-address__list 

                  = f.text_field :last_name_phonetic, class: "address_last_name address-form-box", maxlength: "35", placeholder: "例）ヤマダ", name: "last_name_phonetic", type: "string", value: session[:last_name_phonetic]
                  -# %input.address_last_name.address-form-box{maxlength: "35", placeholder: "例）ヤマダ", name: "last_name_phonetic", type: "string", value: ""}/
                  = f.text_field :first_name_phonetic, class: "address_first_name address-form-box", maxlength: "35", placeholder: "例）アヤ", name: "first_name_phonetic", type: "string", value: session[:first_name_phonetic]
                  -# %input.address_first_name.address-form-box{maxlength: "35", placeholder: "例）アヤ", name: "first_name_phonetic", type: "string", value: ""}/
                
                .form-group-address__postalcode.address-heading-row

                  = f.label :address_name_postalcode, "郵便番号"
                  -# %label{for: "address_name_postalcode"} 郵便番号

                  %span.form-require 必須
                .form-group-address__list 

                  = f.text_field :postalcode, class: "address_postalcode address-form-box", maxlength: "7", placeholder: "例）123-4567", name: "postalcode", type: "integer", value: ""
                  -# %input.address_postalcode.address-form-box{maxlength: "7", placeholder: "例）123-4567", name: "postalcode", type: "integer", value: ""}/

                .form-group.address-prefecture-form
                  .form-group.address-prefecture-form__heading.displayflex
                    -# = f.label :prefectures, "都道府県"
                    %label{for:"prefectures"} 都道府県
                    %span.form-require 必須 

                  .address-prefecture-select   
                    .address-prefecture-select-box
                      .address-prefecture-select-down.relative
                        .angle-position
                          = fa_icon 'angle-down', class: "address-prefecture-angle-down__absolute.angle-position"
                        = f.collection_select :prefectures, Prefecture.all, :id, :name, {prompt: "--"},{class:"input-default"}

                .form-group-address__phonetic.address-heading-row
                  = f.label :address_city, "市区町村"
                  -# %label{for: "address_city"} 市区町村
                  %span.form-require 必須
                .form-group-address__list 
                  = f.text_field :city, class: "address_city address-form-box", maxlength: "50", placeholder: "例）横浜市緑区", name: "city", type: "string", value: ""
                  -# %input.address_city.address-form-box{maxlength: "50", placeholder: "例）横浜市緑区", name: "city", type: "string", value: ""}/
                
                .form-group-address__phonetic.address-heading-row
                  = f.label :house_number, "番地"
                  -# %label{for: "address_house_number"} 番地
                  %span.form-require 必須
                .form-group-address__list 
                  = f.text_field :house_number, class: "address_house_number address-form-box", maxlength: "100", placeholder: "例）青山1-1-1", name: "house_number", type: "string", value: ""
                  -# %input.address_house_number.address-form-box{ maxlength: "100", placeholder: "例）青山1-1-1", name: "house_number", type: "string", value: ""}/
                
                .form-group-address__phonetic.address-heading-row

                  = f.label :building_name, "建物名"
                  -# %label{for: "address_building_name"} 建物名
                  %span.form-require.heading-gray 任意
                .form-group-address__list 

                  = f.text_field :building_name, class: "address_building_name address-form-box", "data-input-type" => "address", maxlength: "100", placeholder: "例）柳ビル103", name: "building_name", type: "string", value: ""
                  -# %input.address_building_name.address-form-box{"data-input-type" => "address", maxlength: "100", placeholder: "例）柳ビル103", name: "building_name", type: "string", value: ""}/
                
                .form-group-address__phonetic.address-heading-row
                  -# %label{for: "address_phone_number"} 電話
                  = f.label :phone_number, "電話"
                  %span.form-require.heading-gray 任意
                .form-group-address__list 
                  = f.text_field :phone_number, class: "address_phone_number address-form-box", maxlength: "100", placeholder: "例）09012345678", name: "phone_number", type: "integer", value: session[:phone_number]
                  -# %input.address_phone_number.address-form-box{maxlength: "100", placeholder: "例）09012345678", name: "phone_number", type: "integer", value: ""}/
            
              .step3-info-submit
                .step3-info-submit__btn

                  = f.submit class: "btn-default btn-red", value: "次へ進む", id: "tep3-submit-button"
                  -# %button#step3-submit-button.btn-default.btn-red{type: "button"} 次へ進む

      .credit-register-footer
        = render 'signup/footer'

