.done-footertake-box
  .done-footertake-box__left
    .done-footertake-box__left__1
      スマホでかんたんフリマアプリ
    .done-footertake-box__left__2
      今すぐ無料ダウンロード！
    .done-footertake-box__left__3
      .done-footertake-box__left__3__img
      = link_to '#0' do
        = image_tag 'appstore_icon.svg', size: '144x40'
      = link_to '#0' do
        = image_tag 'googleplay_icon.svg', size: '144x40'
  .topfootertake-box__right
    = image_tag 'download_app_pc.png', size: '300x260'