.topfooter-take
  .topfootertake-box
    .topfootertake-box__left
      .topfootertake-box__left__1
        スマホでかんたんフリマアプリ
      .topfootertake-box__left__2
        今すぐ無料ダウンロード！
      .topfootertake-box__left__3
        .topfootertake-box__left__3__img
          = image_tag 'mercari_footer_icon.png', size: '68x68'
        = link_to root_path do
          = image_tag 'appstore_icon.svg', size: '144x40'
        = link_to root_path do
          = image_tag 'googleplay_icon.svg', size: '144x40'
    .topfootertake-box__right
      = image_tag 'download_app_pc.png', size: '300x260'
  .topfooter-take-lowbox
    .topfooter-take-lowbox__guidebox.displayflex
      .topfooter-take-lowbox__guidebox__bottom
        %ul.topfooter-guidebox__title
          メルカリについて
        %li
          = link_to root_path do
            会社概要（運営会社）
        %li
          = link_to root_path do  
            採用情報   
        %li
          = link_to root_path do   
            プレスリリース
        %li
          = link_to root_path do   
            公式ブログ         
        %li
          = link_to root_path do   
            メルカリロゴ利用ガイドライン
        .topfooter-guidebox__sns.displayflex
          .topfooter-guidebox__icon    
            %i
            = link_to root_path do  
              = fa_icon 'twitter', class: 'icon'  
            %i
            = link_to root_path do  
              = fa_icon 'facebook-square', class: 'icon'                

      .topfooter-take-lowbox__guidebox__bottom
        %ul.topfooter-guidebox__title
          ヘルプ&ガイド
        %li
          = link_to root_path do
            メルカリガイド
        %li
          = link_to root_path do  
            らくらくメルカリ便
        %li
          = link_to root_path do   
            ゆうゆうメルカリ便
        %li
          = link_to root_path do   
            大型メルカリ便   
        %li
          = link_to root_path do   
            車体取引ガイド
        %li
          = link_to root_path do   
            メルカリあんしん・あんぜん宣言！
        %li
          = link_to root_path do   
            偽ブランド品撲滅への取り組み 
        %li
          = link_to root_path do   
            メルカリボックス           
      .topfooter-take-lowbox__guidebox__bottom
        %ul.topfooter-guidebox__title
          プライバシー
        %li
          = link_to root_path do
            プライバシーポリシー
        %li
          = link_to root_path do  
            メルカリ利用規約
        %li
          = link_to root_path do   
            あんしんスマホサポート制度に関する利用規約
        %li
          = link_to root_path do   
            コンプライアンスポリシー   
         
      .topfooter-take-lowbox__guidebox__bottom
        %br   
        %li
          = link_to root_path do   
            個人データのあんぜん管理に係る基本方針
        %li
          = link_to root_path do   
            特定商取引に関する表記
        %li
          = link_to root_path do   
            資金決済方に基づく表示
        %li
          = link_to root_path do   
            法令遵守と犯罪抑止のために 
      .topfooter-take-lowbox__guidebox__state
        %ul.topfooter-guidebox__title
          国
        %li
          = link_to root_path do
            日本 
        .unitedstate
          = link_to root_path do
            United States



    .topfooter-take-lowbox__copywrite.displayflex
      .topfooter-take-lowbox__copywrite__img
        = link_to root_path do  
          = image_tag 'footer-mercari-logo.png', size: '124x33'
      .topfooter-take-lowbox__copywrite__text
        %span.corywrite-text © 2019 Mercari
















