.top-header-take
  .top-header-box-take
    .top-high-row
      .top-header-box-take-left__box
        .top-header-box-take-left__box__logo
          = link_to root_path do
            = image_tag 'mercari-top-logo.png', size: '134x40'
      %form.top-search-form   
        %input.top-search__box{:name => "keyword", :placeholder => "何かお探しですか？", :type => "search", :value => ""}/
        %button.search-button{:height => "16", :viewbox => "0 0 16 16", :width => "16"}
          %label.search-button__icon
            = link_to root_path do
              %i.fa.fa-search
           
    .top-low-row
      .top-low-row-left
        .top-low-row-left__category
          .top-low-row-left__category__btn
            = link_to root_path do
              %i
                = fa_icon 'list-ul', class: 'icon'
              %h2 カテゴリーから探す

        .top-low-row-left__brand
          .top-low-row-left__brand__btn
            = link_to root_path do
              %i
                = fa_icon 'tags', class: 'icon'              
              %h2 ブランドから探す

      .top-low-row-right
        .top-low-row-right-list
        
          .top-low-row-right-list__like
            .top-low-row-right-list__like__btn
              = link_to root_path do
                %i
                  = fa_icon 'heart', class: 'icon'              
                %h4 いいね！一覧
          .top-low-row-right-list__news
            .top-low-row-right-list__news__btn
              = link_to root_path do
                %i
                  = fa_icon 'bell', class: 'icon'              
                %h4 お知らせ
          .top-low-row-right-list__todo   
            .top-low-row-right-list__todo__btn 
              = link_to root_path do
                %i
                  = fa_icon 'check', class: 'icon'              
                %h4 やることリスト
          .top-low-row-right-list__mypage   
            .top-low-row-right-list__mypage__btn   
              = link_to root_path do
                %i
                  = fa_icon 'user-circle', class: 'icon'              
                %h4 マイページ             

