.u-content
  %section.u-content__index
    %h4.u-content__index__header 出品した商品
    %ul.u-content__index__body
      %li.u-content__index__body__select
        %h3
          = link_to '出品中',''
      %li
        %h3
          = link_to '取引中',''
      %li
        %h3
          = link_to '売却済',''
    .u-content__index__footer
      %ul.u-content__index__footer__list
        = link_to root_path do
          %li
            %figure
              = image_tag 'topspink.jpg', size: '80x80'
            %h3.u-content__index__footer__list__text  商品名
  %ul.u-content__icon
    = link_to root_path do
      %li.u-content__icon__left
      %i.fa.fa-angle-left
    = link_to root_path do
      %li.u-content__icon__right
      %i.fa.fa-angle-right