%body
  .wrapper-ito
    = render 'topheader'
  .u-display-clearfix-ito
    .u-side-ito
      = render 'userside'
    .u-content-ito
      .u-content-ito__header
        %li
          = link_to '', 'http://3.114.53.230'
          %figure
            = image_tag 'mypage_icon.png'
          %h2 ユーザー名
          .u-content-ito__header__footer
            %div 出品数
            %span.u-content-ito__header__footer__left 0
            %div 評価
            %span.u-content-ito__header__footer__left 0
      .u-content-ito__todo
        %ul.u-content-ito__todo__tab
          %li.u-content-ito__todo__tab__left
            = link_to 'お知らせ', ''
          %li.u-content-ito__todo__tab__right
            = link_to 'やることリスト', ''
      .u-content-ito__footer
        %h3 購入した商品
  .footer-ito
    = render "topfooter"
