%body
  .wrapper-ito
    = render 'tops/topheader'
    - breadcrumb :profile
  = render 'breadcrumbs'
  .u-display-clearfix-ito
    .u-side-ito
      = render 'userside'
    .u-content
      = render "profile"
  .top-exhibit-fix-btn
    = render 'tops/topexhibit'
  .footer-ito
    = render "tops/topfooter"