
.main-advertising.slick
  .main-advertising__image
    = link_to '#0' do
      = image_tag 'slick1.png', :height => "380", :width => "100%" 
  .main-advertising__image
    = link_to '#0' do
      = image_tag 'slick2.png', :height => "380", :width => "100%"
  .main-advertising__image
    = link_to '#0' do
      = image_tag 'slick3.png', :height => "380", :width => "100%"

-# .main-advertising.witch-img.js-switch-img
-#   .main-advertising__image.switch-img_item.is-current
-#     = image_tag 'topadvatisingimg.png', :height => "380", :width => "680"
-#   .main-advertising__image.switch-img_item
-#     = image_tag 'blacktops.jpg', :height => "380", :width => "680"
-#   .main-advertising__image.switch-img_item  
-#     = image_tag 'icon-bad', :height => "380", :width => "680"
-#     -# = link_to '#0',class: "switch-img_item" do
      

.popular-list
  .popular-category
    .popular-category-header
      .popular-category-header__highbox#category
        人気のカテゴリー
      .popular-category-header__lowhbox.displayflex
        %ul.popular-category-header__lowhbox__btn.displayflex
          %li
            = link_to '#1' do
              レディース 
          %li  
            = link_to "#1" do
              メンズ
          %li
            = link_to '#2' do
              ベビー・キッズ
          %li 
            = link_to '#3' do 
              おもちゃ・ホビー・グッズ  
    
    .popular-category-content.displayflex
      .popular-category-content__box
        .newproduct-margin
          .popular-category-content__box__highrow
            .popular-category__highrow.displayflex
              .popular-category__highrow__leftbox
                %h5 商品一覧
              .popular-category__highrow__rightbox
                = link_to '#0' do
                  %h7 もっと見る 〉    


                  
        .popular-category-content__box__lowrow
          .new-product-toplist.displayflex.clearfix
            - @products.each do |product| 
              -  if product.images.present? 
                .new-product-toplist__box
                  = link_to product_path(product) do
                    %ul.fadein
                      %li.new-product-toplist__box__image
                        = image_tag "#{product.images.first.image_url}", size: "180×180"
                        
                        -if product.buyer_id.present? 
                          .items-box_photo__sold
                            .items-box_photo__sold__inner
                              SOLD
            

                        .new-product-toplist__price
                          %span￥
                          =product.price.to_s(:delimited)
                      %li.new-product-toplist__box__title
                        .new-product-toplist__title
                          = product.title

        = render 'products/toprender/newladies'
        = render 'products/toprender/newmens'
        = render 'products/toprender/newbk'
        = render 'products/toprender/newtoy'



  .popular-category
    .popular-category-header
      .popular-category-header__highbox#category
        人気のブランド
      .popular-category-header__lowhbox.displayflex
        %ul.popular-category-header__lowhbox__btn.displayflex
          %li
            = link_to '#11' do
              シャネル
          %li  
            = link_to '#12' do
              ルイヴィトン
          %li
            = link_to '#13' do
              シュプリーム
          %li 
            = link_to '#14' do
              ナイキ

    .popular-category-content.displayflex
      .popular-category-content__box
        = render 'products/toprender/newchanel'
        = render 'products/toprender/newlouisvuitton'
        = render 'products/toprender/newsupreme'
        = render 'products/toprender/newnike'