.single-footer-sai
  %nav
    %ul.clear-fix
      %li
        = link_to root_path do
          プライバシーポリシー
      %li
        = link_to root_path do
          メルカリ利用規約
      %li
        = link_to root_path do
          特定商取引に関する表記
    = link_to root_path do
      = image_tag 'mercari-logo-footer.png', size: '120x130'