.newproduct-margin
.popular-brand-content__box__highrow
  .popular-brand__highrow.displayflex
    .popular-brand__highrow__leftbox#11
      %h5 シャネル
    .popular-brand__highrow__rightbox
      = link_to root_path do
        %h7 もっと見る 〉

.popular-brand-content__box__lowrow
  .new-product-brand.displayflex
    .new-product-brand__box
      %ul
        .new-product-brand__box__image
          = link_to root_path do
            = image_tag 'topspink.jpg', size: '188x188'
            .new-product-brand__price
              ¥1,200
        .new-product-brand__box__title
          .new-product-brand__title
            %h6 シャネルシャネル

    .new-product-brand__box
      %ul
        .new-product-brand__box__image
          = link_to root_path do
            = image_tag 'topspink.jpg', size: '188x188'
            .new-product-brand__price
              ¥1,200
        .new-product-brand__box__title
          .new-product-brand__title
            %h6 シャネルシャネル

    .new-product-brand__box
      %ul
        .new-product-brand__box__image
          = link_to root_path do
            = image_tag 'topspink.jpg', size: '188x188'
            .new-product-brand__price
              ¥1,200
        .new-product-brand__box__title
          .new-product-brand__title
            %h6 シャネルシャネル


    .new-product-brand__box
      %ul
        .new-product-brand__box__image
          = link_to root_path do
            = image_tag 'topspink.jpg', size: '188x188'
            .new-product-brand__price
              ¥1,200
        .new-product-brand__box__title
          .new-product-brand__title
            %h6 シャネルシャネル


    .new-product-brand__box
      %ul
        .new-product-brand__box__image
          = link_to root_path do
            = image_tag 'topspink.jpg', size: '188x188'
            .new-product-brand__price
              ¥1,200
        .new-product-brand__box__title
          .new-product-brand__title
            %h6 シャネルシャネル


    .new-product-brand__box
      %ul
        .new-product-brand__box__image
          = link_to root_path do
            = image_tag 'topspink.jpg', size: '188x188'
            .new-product-brand__price
              ¥1,200
        .new-product-brand__box__title
          .new-product-brand__title
            %h6 シャネルシャネル


    .new-product-brand__box
      %ul
        .new-product-brand__box__image
          = link_to root_path do
            = image_tag 'topspink.jpg', size: '188x188'
            .new-product-brand__price
              ¥1,200
        .new-product-brand__box__title
          .new-product-brand__title
            %h6 シャネルシャネル


    .new-product-brand__box
      %ul
        .new-product-brand__box__image
          = link_to root_path do
            = image_tag 'topspink.jpg', size: '188x188'
            .new-product-brand__price
              ¥1,200
        .new-product-brand__box__title
          .new-product-brand__title
            %h6 シャネルシャネル


    .new-product-brand__box
      %ul
        .new-product-brand__box__image
          = link_to root_path do
            = image_tag 'topspink.jpg', size: '188x188'
            .new-product-brand__price
              ¥1,200
        .new-product-brand__box__title
          .new-product-brand__title
            %h6 シャネルシャネル


    .new-product-brand__box
      %ul
        .new-product-brand__box__image
          = link_to root_path do
            = image_tag 'topspink.jpg', size: '188x188'
            .new-product-brand__price
              ¥1,200
        .new-product-brand__box__title
          .new-product-brand__title
            %h6 シャネルシャネル












