          .sell-dropbox-container-sai#height-image-container
            .sell-dropbox-container-take.displayflex
              .preview-image-edit
              #sell-dropbox-container-result

              
                - @product.images.first(@length).each_with_index do |image, i|
                  .previews{data:{id: "#{i}"}}
                    %img.open-pic{src: "#{image.image_url}"} 
                      = link_to "削除", "", class: "kill-preview-image-box"
                        

              = f.fields_for :images do |i|
                = i.label :image_url, for: "edit-image", class: 'form__mask__image' do
                  .sell-dropbox-container-sai__image.pic-form
                    = fa_icon 'camera', class: "icon-camera"
                    %p.sell-form__upload-box__image-upload__text.sell-dropbox-container-sai__image__visible 
                  = i.file_field :image_url,  multiple: true, name: 'images[image_url][]', class: 'preview-image.sell-dropbox-container-sai__image__file pic-gone-edit', id: "edit-image"
                %pre
                  ドラッグアンドドロップ またはクリックしてファイルをアップロード




                  #preview-image-box
                    - @product.images.each_with_index do |image, i|
                      .images-preview-box{class: "images#{i}"}
                        .img-box.images{class: "images#{i}"}
                          = image_tag "#{image.image_url}", class: "img images#{i}"
                        .preview-box-btn.images{class: "images#{i}"}
                          .preview__box__edit.images{class: "images#{i}"}
                            編集
                          .preview__box__delete.images{class: "images#{i}"}
                            削除



















            
            
            
            
            
            
            
            .sell-dropbox-container-take.displayfle
              .preview-image-box
                .sell-dropbox-container-sai
                  .input-area-box 
                    = g.label :image_url, for: "preview-image", class: 'form__mask__image input-area dropzone-box' do  
                     
                      .sell-dropbox-container-sai__image.input-area 
                        = fa_icon 'camera', class: "icon-camera input-area"
                        %p.sell-form__upload-box__image-upload__text.input-area
                      .file-input_area
                        = g.file_field :image_url,  multiple: true,  name: 'images[image_url][]', class: 'preview-image sell-dropbox-container-sai__image__file input-area', id: "preview-image", 'data-image': 0
                      %pre.sell-dropbox-container-sai__image__visible.input-area
                