%meta{:content => "”no-cache”", "http-equiv" => "”Pragma”"}/
.single-container-sai
  .header-logo-sai
    %h1.header-logo-sai__link
      = link_to root_path do
        = image_tag 'mercari-logo.png', size: '155x50'

  .l-single-container-sai2
  = form_with model: @product, local: true, multipart: true, retuired: true, html: {class: "sell__form", id: "item-dropzone"}  do |f|
    .single-main-sai
      .l-single-container-sai
        .product-menu-sai
          商品情報を入力

        .sell-form-sai
          .sell-form-sai__upload
            .sell-form-sai__upload__head 出品画像
            %span.sell-form-sai__upload__require 必須
            %br/
            %p 最大10枚までアップロードできます
          
          = f.fields_for :images do |g|  
            .dropzone-container
              .dropzone-preview
                #preview-image-box.preview_append
                .dropzone-area
                  = g.label :image_url, class: "dropzone-box ", for: "preview-image" do
                    .file_input_area
                      = g.file_field :image_url, multiple: true, name: 'images[image_url][]', id: 'preview-image', class: 'preview-image', 'data-image': 0
                    %p.text
                      ファイルをアップロード
                      %br 


          .sell-content-sai.clearfix
            .form-group-sai2.clearfix
              .form-group-sai2__head.clear-fix 商品名
              %span.form-group-sai2__require 必須
              %br/
              
              = f.text_field :title, class: 'form-group-sai__default', placeholder: '商品名（必須 40文字まで)'
            .clearfix
              =  render partial: 'error-messages', locals: {product: @product, column: "title"}

            .form-group-sai2.clearfix
              .form-group-sai2__head.clear-fix 商品の説明
              %span.form-group-sai2__require 必須
              %br/
              = f.text_area :description, class: 'form-group-sai2__default', placeholder: '商品の説明（必須 1,000文字以内）（色、素材、重さ、定価、注意点など）例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。'
              =  render partial: 'error-messages', locals: {product: @product, column: "description"}

          .sell-content-sai.clearfix
            .sell-content-take
              %h3.sell-content-sai__sub 商品の詳細
              .select-box-take
                .sell-content-sai-category.clearfix
                  .listing-form-box.clearfix
                    .listing-product-detail__category
                      = f.label 'カテゴリー', class: 'listing-default__label'
                      %span.listing-default--require 必須 
                      .listing-select-wrapper
                        .listing-select-wrapper__box
                          .icon-arrow-bottom-sai
                            %i.fa.fa-angle-down.chevron-down-icon
                          = f.select :category_id, @category_parent_array, {}, {class: 'listing-select-wrapper__box--select relative select-icon', id: 'parent_category'}
                        .exhibit-error.clearfix
                          =  render partial: 'error-messages', locals: {product: @product, column: "category_id"}

          .sell-content-sai.clearfix
            .sell-content-take
              .sell-content-sai-category.clearfix
                .sell-content-sai__box.clearfix
                  .sell-content-sai__box__Category サイズ
                  %span.sell-content-sai__box__require 必須
                  %br/
                  .select-wrap
                    .icon-arrow-bottom-sai
                      = fa_icon 'chevron-down'
                    = f.select :size, Product.sizes.keys.to_a ,{prompt: "---"}, class:"select-wrap-sai__default select-icon"
                  .exhibit-error.clearfix
                    =  render partial: 'error-messages', locals: {product: @product, column: "size"}
                

                  .sell-content-sai__box__Category ブランド
                  %span
                  %br/
                  .select-brand-take
                    .select-brand-box
                      %input{name: "product[brand_id]", placeholder: "例）シャネル", list: "brand_parent", size: "20", type: "search", class: "select-brand-box"}/
                      %datalist#brand_parent
                        -  @brand_child_array.zip(@brand_child_id_array).each do |brand_child_array, brand_child_id_array| 
                          %option{value: "#{brand_child_id_array}:#{brand_child_array}"} 



                  .sell-content-sai__box__Category 商品の状態
                  %span.sell-content-sai__box__require 必須
                  %br/
                  .select-wrap
                    .icon-arrow-bottom-sai
                      = fa_icon 'chevron-down'
                    = f.select :condition , Product.conditions.keys.to_a ,{prompt: "---"}, class:"select-wrap-sai__default select-icon"
                  .exhibit-error.clearfix
                    =  render partial: 'error-messages', locals: {product: @product, column: "condition"}
                              

          .sell-content-sai.clearfix
            %h3.sell-content-sai__sub 配送について 
            %br/
            .question-link
              = link_to root_path  do
                = fa_icon 'question'
              %br/
            .sell-content-sai__box.clearfix
              .sell-content-sai__box__Category 配送料の負担
              %span.sell-content-sai__box__require 必須
              %br/
              
              .select-wrap
                .icon-arrow-bottom-sai
                  = fa_icon 'chevron-down'
                = f.select :shipping_burden , Product.shipping_burdens.keys.to_a ,{prompt: "---"}, class:"select-wrap-sai__default select-icon"
              .exhibit-error.clearfix
                =  render partial: 'error-messages', locals: {product: @product, column: "shipping_burden"}
                
            .sell-content-sai__box.clearfix
              .sell-content-sai__box__Category 配送料の方法
              %span.sell-content-sai__box__require 必須
              %br/
              
              .select-wrap
                .icon-arrow-bottom-sai
                  = fa_icon 'chevron-down'
                = f.select :shipping_method , Product.shipping_methods.keys.to_a ,{prompt: "---"}, class:"select-wrap-sai__default select-icon"
              .exhibit-error.clearfix
                =  render partial: 'error-messages', locals: {product: @product, column: "shipping_method"}
                
            .sell-content-sai__box.clearfix
              .sell-content-sai__box__Category 発送元の地域
              %span.sell-content-sai__box__require 必須
              %br/
              
              .select-wrap
                .icon-arrow-bottom-sai
                  = fa_icon 'chevron-down'
                = f.collection_select :shipping_area, Prefecture.all, :id, :name, {prompt: "--"},{class:"input-default"}
              .clearfix  
                =  render partial: 'error-messages', locals: {product: @product, column: "shipping_area"}
                
              .sell-content-sai__box.clearfix
              .sell-content-sai__box__Category 発送までの日数
              %span.sell-content-sai__box__require 必須
              %br/
              
              .select-wrap
                .icon-arrow-bottom-sai
                  = fa_icon 'chevron-down'
                = f.select :shipping_period, Product.shipping_periods.keys.to_a ,{prompt: "---"}, class:"select-wrap-sai__default select-icon"
              .exhibit-error.clearfix
                =  render partial: 'error-messages', locals: {product: @product, column: "shipping_period"}
                


          .sell-content-sai.displayflex.clearfix



            .sell-form-box.displayflex
              .sell-content-sai-heading.clearfix
                %h3.sell-content-sai__sub 販売価格(300〜9,999,999) 
                = link_to root_path, class: "question-link" do
                  = fa_icon 'question'
              
              .sell-price-box.displayflex
                .sell-price-heading.displayflex
                  .sell-content-sai__box__Category 価格
                  %span.sell-content-sai__box__require 必須

              .price-input-box
                .price-input-container.displayflex.clearfix
                  = f.label '¥', class: 'price-input-container__yen'
                  .price-input-text-area
                    = f.text_field :price, class: "price-box.input-default", id: 'price-box', placeholder: "例) 300(半角)", value: ""                

            .price-error-box.clearfix
              =  render partial: 'error-messages', locals: {product: @product, column: "price"}
            


              
            .margin-sai.clearfix
              .l-left
                販売手数料(10%)
              %span#fee-box.l-right-sai
                
            .margin-sai.clearfix
              .margin-sai__margin

                販売利益
              .profits-result-box{id: "profit", class: "profit"}
                %span#profit-box.l-right-sai

            .sell-content
              %p.sell-content__sentence 禁止されている出品、行為を必ずご確認ください。
              %p.sell-content__sentence またブランド品でシリアルナンバー等がある場合はご記載ください。偽ブランドの販売は犯罪であり
              %p.sell-content__sentence 処罰される可能性があります。
              %p.sell-content__sentence また、出品をもちまして加盟店規約に同意したことになります。

            = f.submit '出品する', class: "form__submit btn-default"

          
            .footer-btn-gray
              = link_to root_path do
                戻る
      = render 'products/footer' 

