.single-container-sai
  .header-logo-sai
    %h1.header-logo-sai__link
      = link_to root_path do
        = image_tag 'mercari-logo.png', size: '155x50'

  .l-single-container-sai2
  = form_with model: @product, local: true, multipart: true, html: {class: "sell__form", id: "item-dropzone"}  do |f|
    .single-main-sai
      .l-single-container-sai
        .product-menu-sai
          商品情報を入力

        .sell-form-sai
          .sell-form-sai__upload
            .sell-form-sai__upload__head 出品画像
            %span.sell-form-sai__upload__require 必須
            %br/
            %p 最大10枚までアップロードできます

          
          .sell-dropbox-container-take.displayflex
            .preview-image-box
            .sell-dropbox-container-sai
              = f.fields_for :images do |g|
                = g.label :image_url, for: "preview-image", class: 'form__mask__image' do  
                  .input-area-box
                    .sell-dropbox-container-sai__image{data: {id: 1}}   
                      = fa_icon 'camera', class: "icon-camera"
                      %p.sell-form__upload-box__image-upload__text
                  
                    = g.file_field :image_url,  multiple: true, name: 'images[image_url][]', class: 'preview-image.sell-dropbox-container-sai__image__file', id: "preview-image", 'data-image': 0, accept: "image/*"
                  %pre.sell-dropbox-container-sai__image__visible 
                    ドラッグアンドドロップ またはクリックしてファイルをアップロード
          
        
          
          .sell-content-sai.clearfix
            .form-group-sai2.clearfix
              .form-group-sai2__head.clear-fix 商品名
              %span.form-group-sai2__require 必須
              %br/
              
              = f.text_field :title, class: 'form-group-sai__default', placeholder: '商品名（必須 40文字まで)'
            .clearfix
              =  render partial: 'error-messages', locals: {product: @product, column: "title"}

            .form-group-sai2.clearfix
              .form-group-sai2__head.clear-fix 商品の説明
              %span.form-group-sai2__require 必須
              %br/
              = f.text_area :description, class: 'form-group-sai2__default', placeholder: '商品の説明（必須 1,000文字以内）（色、素材、重さ、定価、注意点など）例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。'
              =  render partial: 'error-messages', locals: {product: @product, column: "description"}

          .sell-content-sai.clearfix
            .sell-content-take
              %h3.sell-content-sai__sub 商品の詳細
              .select-box-take
                .sell-content-sai-category.clearfix
                  .listing-form-box.clearfix
                    .listing-product-detail__category
                      = f.label 'カテゴリー', class: 'listing-default__label'
                      %span.listing-default--require 必須 
                      .listing-select-wrapper
                        .listing-select-wrapper__box
                          .icon-arrow-bottom-sai
                            %i.fa.fa-angle-down.chevron-down-icon
                          = f.select :category_id, @category_parent_array, {}, {class: 'listing-select-wrapper__box--select relative select-icon', id: 'parent_category'}

          .sell-content-sai.clearfix
            .sell-content-take
              .sell-content-sai-category.clearfix
                .sell-content-sai__box.clearfix
                  .sell-content-sai__box__Category サイズ
                  %span.sell-content-sai__box__require 必須
                  %br/
                  .select-wrap
                    .icon-arrow-bottom-sai
                      = fa_icon 'chevron-down'
                    = f.select :size, Product.sizes.keys.to_a ,{prompt: "---"}, class:"select-wrap-sai__default select-icon"
                      
                  .sell-content-sai__box__Category ブランド
                  %span
                  %br/
                  .select-brand-take
                    .select-brand-box
                      %input{:name => "product[brand_id]", :placeholder => "例）シャネル", :list => "brand_parent", :size => "20", :type => "search"}/
                      %datalist#brand_parent
                        -  @brand_parent_array.zip(@brand_id_array).each do |brand_parent_array, brand_id_array| 
                          %option{value: "#{brand_id_array}"}  #{brand_parent_array}



                  .sell-content-sai__box__Category 商品の状態
                  %span.sell-content-sai__box__require 必須
                  %br/
                  .select-wrap
                    .icon-arrow-bottom-sai
                      = fa_icon 'chevron-down'
                    = f.select :condition , Product.conditions.keys.to_a ,{prompt: "---"}, class:"select-wrap-sai__default select-icon"
              
          .sell-content-sai.clearfix
            %h3.sell-content-sai__sub 配送について 
            %br/
            .question-link
              = link_to root_path  do
                = fa_icon 'question'
              %br/
            .sell-content-sai__box.clearfix
              .sell-content-sai__box__Category 配送料の負担
              %span.sell-content-sai__box__require 必須
              %br/
              
              .select-wrap
                .icon-arrow-bottom-sai
                  = fa_icon 'chevron-down'
                = f.select :shipping_burden , Product.shipping_burdens.keys.to_a ,{prompt: "---"}, class:"select-wrap-sai__default select-icon"

            .sell-content-sai__box.clearfix
              .sell-content-sai__box__Category 配送料の方法
              %span.sell-content-sai__box__require 必須
              %br/
              
              .select-wrap
                .icon-arrow-bottom-sai
                  = fa_icon 'chevron-down'
                = f.select :shipping_method , Product.shipping_methods.keys.to_a ,{prompt: "---"}, class:"select-wrap-sai__default select-icon"

            .sell-content-sai__box.clearfix
              .sell-content-sai__box__Category 発送元の地域
              %span.sell-content-sai__box__require 必須
              %br/
              
              .select-wrap
                .icon-arrow-bottom-sai
                  = fa_icon 'chevron-down'
                = f.collection_select :shipping_area, Prefecture.all, :id, :name, {prompt: "--"},{class:"input-default"}

              .sell-content-sai__box.clearfix
              .sell-content-sai__box__Category 発送までの日数
              %span.sell-content-sai__box__require 必須
              %br/
              
              .select-wrap
                .icon-arrow-bottom-sai
                  = fa_icon 'chevron-down'
                = f.select :shipping_period, Product.shipping_periods.keys.to_a ,{prompt: "---"}, class:"select-wrap-sai__default select-icon"

          .sell-content-sai.clearfix
            %h3.sell-content-sai__sub 販売価格(300〜9,999,999) 
            = link_to root_path, class: "question-link" do
              = fa_icon 'question'
            .sell-form-box
              .sell-content-sai__box__Category 価格
              %span.sell-content-sai__box__require 必須

              .l-right-sai.clearfix
                %span.l-right-sai__en ¥
                = f.text_field :price, class: "price-box", id: 'price-box', placeholder: "例) 300", value: ""                
              .margin-sai.clearfix
                .l-left
                  販売手数料(10%)
                %span#fee-box.l-right-sai
                  
              .margin-sai.clearfix
                .margin-sai__margin

                  販売利益
                .profits-result-box{id: "profit", class: "profit"}
                  %span#profit-box.l-right-sai
  
            .sell-content
              %p.sell-content__sentence 禁止されている出品、行為を必ずご確認ください。
              %p.sell-content__sentence またブランド品でシリアルナンバー等がある場合はご記載ください。偽ブランドの販売は犯罪であり
              %p.sell-content__sentence 処罰される可能性があります。
              %p.sell-content__sentence また、出品をもちまして加盟店規約に同意したことになります。

            = f.submit '出品する', class: "form__submit btn-default"

          
            .footer-btn-gray
              = link_to root_path do
                戻る
      = render 'products/footer' 


      %h2.sell-form__header
        商品情報を入力
      .sell-form-container
        %label.sell-form-container__label
          出品画像
        %span.sell-form-container__require
          必須
        = f.fields_for :images do |image|

          .dropzone-container.clearfix
            #preview
            .dropzone-area
              = image.label :image_url, class: "dropzone-box", for: "upload-image" do
                .input_area
                  = image.file_field :image_url, multiple: true, name: 'images[image_url][]', id: "upload-image", class: "upload-image.sell-dropbox-container-sai__image__file", 'data-image': 0
                %p ここをクリックしてください             
                -# jsにて今後仕様予定です。消さないでください
                -# = form_for @product, html: {class: "sell-form dropzone", id: "item-dropzone"} do |f|

            -# #preview2
            -# .dropzone-area2
            -#   = image.label :image_url, class: "dropzone-box", for: "upload-image" do
            -#     %p ここをクリックしてください
            -# = f.text_field :brand_id, class:"select-brand-box",placeholder: "例）シャネル", value:""







