.single-container-sai
  .header-logo-sai
    %h1.header-logo-sai__link
      = link_to root_path do
        = image_tag 'mercari-logo.png', size: '155x50'
  = form_with(model: @product, local: true, id:"new_product", multipart: true) do |f|
    .single-main-sai
      .l-single-container-sai
        .product-menu-sai
          商品情報を入力

        .sell-form-sai
          .sell-form-sai__upload
            .sell-form-sai__upload__head 出品画像
            %span.sell-form-sai__upload__require 必須
            %br/
            %p 最大10枚までアップロードできます

          .sell-dropbox-container-sai  
            = f.fields_for :images do |g|
              = g.label :image_url, for: "sample1", class: 'form__mask__image' do  
                .sell-dropbox-container-sai__image{data: {id: 1}}   
                  = fa_icon 'camera', class: "icon-camera"
                  %p.sell-form__upload-box__image-upload__text
                = g.file_field :image_url, class: 'sample1.sell-dropbox-container-sai__image__file', id: "sample1"
              %pre.sell-dropbox-container-sai__image__visible 
                ドラッグアンドドロップ またはクリックしてファイルをアップロード
                
          .sell-content-sai.clearfix
            .form-group-sai2.clearfix
              .form-group-sai2__head.clear-fix 商品名
              %span.form-group-sai2__require 必須
              %br/

              
              = f.text_field :title, class: 'form-group-sai__default', placeholder: '商品名（必須 40文字まで)'
            .clearfix
              =  render partial: 'error-messages', locals: {product: @product, column: "title"}

            
            .form-group-sai2.clearfix
              .form-group-sai2__head.clear-fix 商品の説明
              %span.form-group-sai2__require 必須
              %br/
              = f.text_area :description, class: 'form-group-sai2__default', placeholder: '商品の説明（必須 1,000文字以内）（色、素材、重さ、定価、注意点など）例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。'
              =  render partial: 'error-messages', locals: {product: @product, column: "description"}


          .sell-content-sai.clearfix
            %h3.sell-content-sai__sub 商品の詳細
            .sell-content-sai__box.clearfix
              .sell-content-sai__box__Category カテゴリー
              %span.sell-content-sai__box__require 必須
              %br/
              .select-wrap
                .icon-arrow-bottom-sai
                  = fa_icon 'chevron-down'
                = f.collection_select :category_ids, @parents, :id, :name,{prompt: "---"}, class: "select-wrap-sai__default select-icon", id: "parent-form", name: 'item[category_ids][]'  
                -# = f.collection_select(:name, Category.where(ancestry: nil) , :id, :name,{prompt: "---"}, class: "select-wrap-sai__default select-icon", id: "parent-form")

              .sell-content-sai__box__Category サイズ
              %span.sell-content-sai__box__require 必須
              %br/
              .select-wrap
                .icon-arrow-bottom-sai
                  = fa_icon 'chevron-down'
                = f.select :size, Product.sizes.keys.to_a ,{prompt: "---"}, class:"select-wrap-sai__default select-icon"
                  
              .sell-content-sai__box__Category ブランド
              %span
              %br/
              .select-brand-take
                .select-brand-box
                  = f.text_field :name, class:"select-brand-box",placeholder: "例）シャネル",value:""
                  
                  
              .sell-content-sai__box__Category 商品の状態
              %span.sell-content-sai__box__require 必須
              %br/
              .select-wrap
                .icon-arrow-bottom-sai
                  = fa_icon 'chevron-down'
                = f.select :condition , Product.conditions.keys.to_a ,{prompt: "---"}, class:"select-wrap-sai__default select-icon"
          
          .sell-content-sai.clearfix
            %h3.sell-content-sai__sub 配送について 
            %br/
            .question-link
              = link_to root_path  do
                = fa_icon 'question'
              %br/
            .sell-content-sai__box.clearfix
              .sell-content-sai__box__Category 配送料の負担
              %span.sell-content-sai__box__require 必須
              %br/
              
              .select-wrap
                .icon-arrow-bottom-sai
                  = fa_icon 'chevron-down'
                = f.select :shipping_burden , Product.shipping_burdens.keys.to_a ,{prompt: "---"}, class:"select-wrap-sai__default select-icon"

            .sell-content-sai__box.clearfix
              .sell-content-sai__box__Category 配送料の方法
              %span.sell-content-sai__box__require 必須
              %br/
              
              .select-wrap
                .icon-arrow-bottom-sai
                  = fa_icon 'chevron-down'
                = f.select :shipping_method , Product.shipping_methods.keys.to_a ,{prompt: "---"}, class:"select-wrap-sai__default select-icon"



            .sell-content-sai__box.clearfix
              .sell-content-sai__box__Category 発送元の地域
              %span.sell-content-sai__box__require 必須
              %br/
              
              .select-wrap
                .icon-arrow-bottom-sai
                  = fa_icon 'chevron-down'
                = f.collection_select :shipping_area, Prefecture.all, :id, :name, {prompt: "--"},{class:"input-default"}

              .sell-content-sai__box.clearfix
              .sell-content-sai__box__Category 発送までの日数
              %span.sell-content-sai__box__require 必須
              %br/
              
              .select-wrap
                .icon-arrow-bottom-sai
                  = fa_icon 'chevron-down'
                = f.select :shipping_period, Product.shipping_periods.keys.to_a ,{prompt: "---"}, class:"select-wrap-sai__default select-icon"

          .sell-content-sai.clearfix
            %h3.sell-content-sai__sub 販売価格(300〜9,999,999) 
            = link_to root_path, class: "question-link" do
              = fa_icon 'question'
            .sell-form-box
              .sell-content-sai__box__Category 価格
              %span.sell-content-sai__box__require 必須

              .l-right-sai.clearfix
                %span.l-right-sai__en ¥
                = f.number_field :price, class: "price-box", id: 'price-box', placeholder: "例) 300", type: "text", value: ""                
              .margin-sai.clearfix
                .l-left
                  販売手数料(10%)
                %span#fee-box.l-right-sai
                  
              .margin-sai.clearfix
                .margin-sai__margin

                  販売利益
                .profits-result-box{id: "profit", class: "profit"}
                  %span#profit-box.l-right-sai
  
            .sell-content
              %p.sell-content__sentence 禁止されている出品、行為を必ずご確認ください。
              %p.sell-content__sentence またブランド品でシリアルナンバー等がある場合はご記載ください。偽ブランドの販売は犯罪であり
              %p.sell-content__sentence 処罰される可能性があります。
              %p.sell-content__sentence また、出品をもちまして加盟店規約に同意したことになります。

            = f.submit '出品する', class: "form__submit btn-default"

            .btn-gray
              = link_to root_path do
                戻る
      = render 'products/footer' 




