!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title FreemarketSample61c

    %script{src: "https://js.pay.jp/", type: "text/javascript"}

    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

    %link{rel: "stylesheet", type:"text/css", href: "//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"}
    %script{type: "text/javascript", src: "//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"}

    -# %script{src: "https://js.pay.jp/", type: "text/javascript"}
    -# %script{type: "text/javascript"} Payjp.setPublicKey(’pk_test_0ddb364bab7ed621b29956cb’);

  %body

    = yield
