!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title FreemarketSample61c
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

    %script{src: "https://www.google.com/recaptcha/api.js?render=reCAPTCHA_site_key"}
    -# :javascript
    -#   grecaptcha.ready(function() {
    -#   grecaptcha.execute('reCAPTCHA_site_key', {action: 'homepage'}).then(function(token) {
    -#      ...
    -#   });
    -#   });


  %body
    = yield
